<IfModule mod_rewrite.c>
    RewriteEngine On
    AcceptPathInfo On
    RewriteBase /GitHub/ticketscompra/

    # Si el recurso existe, servirlo directamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    # Enviar todo a index.php con PATH_INFO
    RewriteRule ^(.*)$ index.php/$1 [QSA,L]
</IfModule>